<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='mains.css') }}">
</head>
<body style="background-color: #74EBD5; background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);">

<div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 bg-dark shadow">
  <h5 class="my-0 mr-md-auto text-white font-weight-normal">Welcome, {{ username }}</h5>
  <nav class="my-2 my-md-0 mr-md-3">
  </nav>
  <a class="btn btn-outline-primary" href="{{ url_for('logout') }}">logout</a>
</div>

<div class="text-center mt-3 mb-3 ">
    <a href="/">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="" width="180" height="180" style="-webkit-filter: drop-shadow(6px 6px 6px #555)">
    </a>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card shadow">
            <div class="card-header"><h3 class="my-0 font-weight-normal">Register:</h3></div>
            <div class="card-body">
                <form class="form-signin" method="post" action="/home">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" class="form-control" name="username" placeholder="Username" required autofocus>
                    <label for="password" class="sr-only"> Password </label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block btn-success mt-3" type="submit">Register</button>
                </form>
            </div>
        </div>

        <div class="card shadow">
            <div class="card-header"><h3 class="my-0 font-weight-normal">Manage:</h3></div>
            <div class="card-body">
                <form class="form-signin" method="post" action="/update">
                    <h1 class="h3 mb-3 font-weight-normal">Edit Username:</h1>
                    <select id="old-username" name="old-username" class="custom-select custom-select-md">
                        {%for user in users%}
                        <option value="{{user.username}}">{{user.username}}</option>
                        {%endfor%}
                    </select>
                    <label for="new-username" class="sr-only">New username</label>
                    <input type="text" id="new-username" class="form-control" name="new-username" placeholder="New username" required autofocus>
                    <button class="btn btn-lg btn-primary btn-block mb-3 mt-3" type="submit">Update</button>
                </form>
                <form class="form-signin" method="post" action="/delete">
                    <h1 class="h3 mb-3 font-weight-normal">Delete User:</h1>
                    <select id="delete-username" name="delete-username" class="custom-select custom-select-md">
                        {%for user in users%}
                        <option value="{{user.username}}">{{user.username}}</option>
                        {%endfor%}
                    </select>
                    <button class="btn btn-lg btn-primary btn-block btn-danger mb-3 mt-3" type="submit">Delete</button>
                </form>
            </div>
        </div>

        <div class="card shadow">
            <div class="card-header"><h3 class="my-0 font-weight-normal">Users:</h3></div>
            <div class="card-body">
                <ul class="list-group">
                {%for user in users%}
                    <li class="list-group-item list-group-item-action" >{{user.username}} {{user.passw}}</li>
                {%endfor%}
                </ul>
            </div>
        </div>
    </div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {%for message in messages%}
            <div class="container text-center">
                <div class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {%endfor%}
    {% endif %}
{% endwith %}

</body>
</html>
