<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.7.css') }}">
    <style>html, body { height: 100%; }</style>
</head>
<body style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;" >



<style>
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>

<div class="container">
        <a href="/">
            <img src="{{ url_for('static', filename='python.svg') }}" alt="" width="180" height="180" >
        </a>

  {% if logged %}
        <a class="btn-wow text-white shadow" href="{{ url_for('profile') }}"><strong>PROFILE</strong></a>
        <a class="btn-sdw"></a>
  {% else %}
        <a class="btn-wow text-white shadow" href="{{ url_for('login') }}"><strong>LOGIN</strong></a>
        <a class="btn-sdw"></a>
  {% endif %}
</div>




{% with messages = get_flashed_messages() %}
    {% if messages %}
        {%for message in messages%}
            <div class="container text-center">
                <div class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {%endfor%}
    {% endif %}
{% endwith %}

</body>
</html>
